{% for chat in chats %}
    <a class="row no-wrap row-with-padding row-clickable hover-effect rp chatlist-chat chatlist-chat-bigger row-big"
        href="#{{ chat['chat_id'] }}" data-peer-id="{{ chat['chat_id'] }}">
        <div class="c-ripple"></div>
        <div class="row-row row-subtitle-row dialog-subtitle">
            <div class="row-subtitle no-wrap dialog-subtitle-flex" dir="auto"><span
                    class="dialog-subtitle-span dialog-subtitle-span-overflow dialog-subtitle-span-last" dir="auto">
                    {{ chat['last_message_content'] }}
                    </span></div>
        </div>
        <div class="row-row row-title-row dialog-title">
            <div class="row-title no-wrap user-title" dir="auto"><span class="peer-title" dir="auto"
                    data-peer-id="{{ chat['chat_id'] }}" data-from-name="0" data-dialog="1" data-only-first-name="0" data-with-icons="1"
                    data-thread-id="0" data-me-as-notes="0">{{ chat['chat_name'] }}</span></div>
            <div class="row-title row-title-right row-title-right-secondary dialog-title-details">
                <span class="message-time"><span class="i18n" dir="auto">{{ chat['last_message_date'] }}</span></span>
            </div>
        </div>
        <img class="avatar avatar-like avatar-54 dialog-avatar row-media row-media-bigger"
            src="{{ url_for('media', path='users_avatars/no_avatar.jpg') }}">
    </a>
{% endfor %}